{% extends "base.html" %}

{% load  static %}
{% block content %}
    <head>
    <link rel="stylesheet" href="{% static "css/clientdetails.css" %}">
    </head>

    <div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>







    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-favourites">Favourites</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-info">Info</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-social-links">Social links</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-connections">Connections</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-notifications">Notifications</a>
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">


              <hr class="border-light m-0">
              <div class="card-body">
                  <form method="post">
                {% csrf_token %}
              <p>
                  {{ form.username.label_tag }}
                  <br>
                  <div class="form-group">{{ form.username }}</div>
                  <p style="color: red">{{ form.username.errors}}</p>
              </p>
              <p>
                  {{ form.first_name.label_tag }}
                  <br>
                  <div class="form-group">{{ form.first_name }}</div>
                  <p style="color: red">{{ form.first_name.errors}}</p>
              </p>
              <p>
                  {{ form.last_name.label_tag }}
                  <br>
                  <div class="form-group">{{ form.last_name }}</div>
                  <p style="color: red">{{ form.last_name.errors}}</p>
              </p>
              <p>
                  {{ form.email.label_tag }}
                  <br>
                  <div class="form-group">{{ form.email }}</div>
                  <p style="color: red">{{ form.email.errors}}</p>
              </p>
                <div class="text-right mt-3">
                    <button type="submit" class="site-btn">Save changes</button>&nbsp;

                </div>

                </form>
              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">

                <form method="post">
                {% csrf_token %}
              <p>
                  {{ form_pw.old_password.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.old_password }}</div>
                  <p style="color: red">{{ form_pw.old_password.errors}}</p>
              </p>
              <p>
                  {{ form_pw.new_password1.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.new_password1 }}</div>
                  <p style="color: red">{{ form_pw.new_password1.errors}}</p>
              </p>
              <p>
                  {{ form_pw.new_password2.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.new_password2 }}</div>
                  <p style="color: red">{{ form_pw.new_password2.errors}}</p>
              </p>
                <div class="text-right mt-3">
                    <button type="submit" class="site-btn">Save changes</button>&nbsp;

                </div>

                </form>

              </div>
            </div>
            <div class="tab-pane fade" id="account-favourites">
              <div class="card-body pb-2">
                <table class="table" width="100%" align="center">
                  <thead  style="background-color: black; border: 0; color: white;">
                    <tr>
                      <th scope="col">Icon</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category</th>
                      <th scope="col" >Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for fav in favourites %}
                        <tr>
                          <td scope="row"><div class="product__item__pic set-bg" style="width:50px; height:50px;" data-setbg="{{ fav.icon }}"></div></td>
                          <td>{{ fav.name }}</td>
                          <td>
                              {% for c in fav.category.all %}
                                  {{ c  }}
                              {% endfor %}

                          </td>
                          <td align="center"><a href="/shop/product/{{ fav.id }}/"><button style="width: 50%;" class="site-btn">View</button></a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
            <div class="tab-pane fade" id="account-info">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Bio</label>
                  <textarea class="form-control" rows="5">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris nunc arcu, dignissim sit amet sollicitudin iaculis, vehicula id urna. Sed luctus urna nunc. Donec fermentum, magna sit amet rutrum pretium, turpis dolor molestie diam, ut lacinia diam risus eleifend sapien. Curabitur ac nibh nulla. Maecenas nec augue placerat, viverra tellus non, pulvinar risus.</textarea>
                </div>
                <div class="form-group">
                  <label class="form-label">Birthday</label>
                  <input type="text" class="form-control" value="May 3, 1995">
                </div>
                <div class="form-group">
                  <label class="form-label">Country</label>
                  <select class="custom-select">
                    <option>USA</option>
                    <option selected="">Canada</option>
                    <option>UK</option>
                    <option>Germany</option>
                    <option>France</option>
                  </select>
                </div>


              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">

                <h6 class="mb-4">Contacts</h6>
                <div class="form-group">
                  <label class="form-label">Phone</label>
                  <input type="text" class="form-control" value="+0 (123) 456 7891">
                </div>
                <div class="form-group">
                  <label class="form-label">Website</label>
                  <input type="text" class="form-control" value="">
                </div>

              </div>

            </div>
            <div class="tab-pane fade" id="account-social-links">
              <div class="card-body pb-2">

                <div class="form-group">
                  <label class="form-label">Twitter</label>
                  <input type="text" class="form-control" value="https://twitter.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Facebook</label>
                  <input type="text" class="form-control" value="https://www.facebook.com/user">
                </div>
                <div class="form-group">
                  <label class="form-label">Google+</label>
                  <input type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                  <label class="form-label">LinkedIn</label>
                  <input type="text" class="form-control" value="">
                </div>
                <div class="form-group">
                  <label class="form-label">Instagram</label>
                  <input type="text" class="form-control" value="https://www.instagram.com/user">
                </div>

              </div>
            </div>
            <div class="tab-pane fade" id="account-connections">
              <div class="card-body">
                <button type="button" class="btn btn-twitter">Connect to <strong>Twitter</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <h5 class="mb-2">
                  <a href="javascript:void(0)" class="float-right text-muted text-tiny"><i class="ion ion-md-close"></i> Remove</a>
                  <i class="ion ion-logo-google text-google"></i>
                  You are connected to Google:
                </h5>
                nmaxwell@mail.com
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-facebook">Connect to <strong>Facebook</strong></button>
              </div>
              <hr class="border-light m-0">
              <div class="card-body">
                <button type="button" class="btn btn-instagram">Connect to <strong>Instagram</strong></button>
              </div>
            </div>
            <div class="tab-pane fade" id="account-notifications">
              <div class="card-body pb-2">

                <h6 class="mb-4">Activity</h6>

                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone comments on my article</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone answers on my forum thread</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Email me when someone follows me</span>
                  </label>
                </div>
              </div>
              <hr class="border-light m-0">
              <div class="card-body pb-2">

                <h6 class="mb-4">Application</h6>

                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">News and announcements</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly product updates</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="switcher">
                    <input type="checkbox" class="switcher-input" checked="">
                    <span class="switcher-indicator">
                      <span class="switcher-yes"></span>
                      <span class="switcher-no"></span>
                    </span>
                    <span class="switcher-label">Weekly blog digest</span>
                  </label>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

     <br>
     <br>
     <br>



{% endblock %}