{% extends "base.html" %}

{% load  static %}

{% block content %}
    <head>
    <link rel="stylesheet" href="{% static "css/clientdetails.css" %}">
    </head>

    <div class="container light-style flex-grow-1 container-p-y">

    <h4 class="font-weight-bold py-3 mb-4">
      Account settings
    </h4>
     {% if  error is not None %}
       <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
    {% endif %}
    {% if  success is not None %}
       <div class="alert alert-success" role="alert">
            {{ success }}
        </div>
    {% endif %}


    <div class="card overflow-hidden">
      <div class="row no-gutters row-bordered row-border-light">
        <div class="col-md-3 pt-0">
          <div class="list-group list-group-flush account-settings-links">
            <a class="list-group-item list-group-item-action active" data-toggle="list" href="#account-general">General</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-change-password">Change password</a>
            <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-favourites">Favourites</a>
              <a class="list-group-item list-group-item-action" data-toggle="list" href="#account-avail_purchases">My Apps</a>

            {% if is_superuser %}<a class="list-group-item list-group-item-action" href="/admin/purchases/">Admin</a> {% endif %}
          </div>
        </div>
        <div class="col-md-9">
          <div class="tab-content">
            <div class="tab-pane fade active show" id="account-general">


              <hr class="border-light m-0">
              <div class="card-body">
                  <form method="post">
                {% csrf_token %}
              <p>
                  {{ form.username.label_tag }}
                  <br>
                  <div class="form-group">{{ form.username }}</div>
                  <p style="color: red">{{ form.username.errors}}</p>
              </p>
              <p>
                  {{ form.first_name.label_tag }}
                  <br>
                  <div class="form-group">{{ form.first_name }}</div>
                  <p style="color: red">{{ form.first_name.errors}}</p>
              </p>
              <p>
                  {{ form.last_name.label_tag }}
                  <br>
                  <div class="form-group">{{ form.last_name }}</div>
                  <p style="color: red">{{ form.last_name.errors}}</p>
              </p>
              <p>
                  {{ form.email.label_tag }}
                  <br>
                  <div class="form-group">{{ form.email }}</div>
                  <p style="color: red">{{ form.email.errors}}</p>
              </p>
                <div class="text-right mt-3">
                    <button type="submit" class="site-btn">Save changes</button>&nbsp;

                </div>

                </form>
              </div>

            </div>
            <div class="tab-pane fade" id="account-change-password">
              <div class="card-body pb-2">

                <form method="post">
                {% csrf_token %}
              <p>
                  {{ form_pw.old_password.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.old_password }}</div>
                  <p style="color: red">{{ form_pw.old_password.errors}}</p>
              </p>
              <p>
                  {{ form_pw.new_password1.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.new_password1 }}</div>
                  <p style="color: red">{{ form_pw.new_password1.errors}}</p>
              </p>
              <p>
                  {{ form_pw.new_password2.label_tag }}
                  <br>
                  <div class="form-group">{{ form_pw.new_password2 }}</div>
                  <p style="color: red">{{ form_pw.new_password2.errors}}</p>
              </p>
                <div class="text-right mt-3">
                    <button type="submit" class="site-btn">Save changes</button>&nbsp;

                </div>

                </form>

              </div>
            </div>
            <div class="tab-pane fade" id="account-favourites">
              <div class="card-body pb-2">
               {% if  favourites %}
                <table class="table" width="100%" align="center">

                  <thead  style="background-color: black; border: 0; color: white;">
                    <tr>
                      <th scope="col">Icon</th>
                      <th scope="col">Name</th>
                      <th scope="col">Category</th>
                      <th scope="col" >Info</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for fav in favourites %}
                        <tr>
                          <td scope="row"><div class="product__item__pic set-bg" style="width:50px; height:50px;" data-setbg="{{ fav.icon }}"></div></td>
                          <td>{{ fav.name }}</td>
                          <td>
                              {% for c in fav.category.all %}
                                  {{ c  }}
                              {% endfor %}

                          </td>
                          <td align="center"><a href="/shop/product/{{ fav.id }}/"><button style="width: 50%;" class="site-btn">View</button></a></td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                   <h4 class="text-center"> You haven't added any App as a Favorite! </h4>
              {% endif %}
              </div>
            </div>
                 <div class="tab-pane fade" id="account-avail_purchases">
              <div class="card-body pb-2">
              {% if client_purch %}
                <table class="table" width="100%" align="center">
                  <thead  style="background-color: black; border: 0; color: white;">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Price </th>
                      <th scope="col">Date Acquisition</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for purch in client_purch %}
                        <tr>
                          <td scope="row">{{ purch.product_plan.product.name }}</td>
                          <td>{{ purch.product_plan.price }}</td>
                          <td> {{ purch.created_at }}
                          </td>
                        </tr>
                    {% endfor %}
                  </tbody>
                </table>
              {% else %}
                  <h4 class="text-center"> You haven't any App ! </h4>
              {% endif %}
              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

     <br>
     <br>
     <br>



{% endblock %}