{% extends 'base.html' %} 

{% load static %} 

{% block title %}App Store{%endblock%}

{% block content %}
<!-- Hero Section Begin -->
<section class="hero">
	<div class="hero__slider owl-carousel">
        {% for product in productsBanner %}
		<div class="hero__items set-bg" data-setbg="{% static "img/banner/desk.jpg"%}">
            <div class="container">
                <div class="row -flex justify-content-between">
                    <div class="col-xl-5 col-lg-6 col-md-6">
                        <div class="hero__text" style="margin-left: 15px">

                                <h6>{{ product.developer.name }}</h6>
                                <h2>{{ product.name }}</h2>
                                <p>{{ product.description }}</p>
                                <a href="#" class="primary-btn"
                                    >Shop now <span class="arrow_right"></span
                                ></a>

                        </div>
                    </div>

                    <div
                        class="col-xl-5 col-lg-6 col-md-6 d-flex justify-content-center"
                    >
                        <img
                            height="300px"
                            style="border-radius: 15px; margin-right: 15px"
                            src="{{ product.icon }}"
                            alt=""
                        />
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div> 
</section>
<!-- Hero Section End -->

<div style="height: 50px"></div>

<!-- Product Section Begin -->
<section class="product spad">
	<div class="container">
		<div class="row">
			<div class="col-lg-12">
				<ul class="filter__controls">
                    <li class="active" data-filter="*">All</li>
					<li data-filter=".best">Best Sellers</li>
					<li data-filter=".new">New Arrivals</li>
				</ul>
			</div>
		</div>
		<div class="row product__filter">
        {% for product in products %}
            <div
				class="col-lg-3 col-md-6 col-sm-6 col-md-6 col-sm-6 mix {{ product.tags }}"
			>
				<div class="product__item sale">
					<div
						class="product__item__pic set-bg"
						data-setbg="{{ product.icon }}"
					>
                        {% if product.new %}
						    <span class="label">New</span>
                        {% endif %}
						<ul class="product__hover">
							<li>
								<a href="#"
									><img src="{% static "img/icon/heart.png" %}" alt=""
								/></a>
							</li>
						</ul>
					</div>
					<div class="product__item__text">
                        <h6>{{ product.name }}</h6>
                        <a class="add-cart">{{ product.description }}</a>
						<div class="rating">
							{% for _ in product.nStars %}
                                 <i class="fa fa-star"></i>
                            {% endfor %}


                            {% for _ in product.nEmptyStars %}
                                 <i class="fa fa-star-o"></i>
                            {% endfor %}
						</div>
						<h5>{{ product.price }} €</h5>
					</div>
				</div>
			</div>
        {% endfor %}
        </div>
	</div>
</section>
<!-- Product Section End -->

{% endblock %}
